---
import Layout from '../layouts/CardLayout.astro'
import Card from '../components/CardABC.svelte'
import data from '../data/abc-emoji-list.json'
const abc = JSON.parse(JSON.stringify(data))
---

<Layout title="abc">
  <main class="m-auto flex w-min touch-none p-0" transition:name="hero" transition:animate="slide">
    {Object.keys(abc).map((name, i) => <Card client:visible idx={i} letter={abc[name]} />)}
  </main>
</Layout>
