---
import Layout from '../layouts/Layout.astro'
import Card from '../components/CardABC.svelte'
import data from '../data/abc-emoji-list.json'
const abc = JSON.parse(JSON.stringify(data))
---

<Layout title="abc">
  <main class="flex m-auto p-0 w-min touch-none">
    {Object.keys(abc).map((name, i) => <Card client:visible idx={i} letter={abc[name]} />)}
  </main>
</Layout>
