---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import data from "../data//abc-emoji-list.json";
const abc = JSON.parse(JSON.stringify(data));
---

<script>
  let card = document.querySelector("#index-card")
  let touchstartX = 0;
  let touchendX = 0;
  let tcDiff = 0
  let touchcurr
  let info;

  function checkDirection() {
    let tcDiff = touchstartX - touchendX;
    // if (touchendX < touchstartX) console.log("swiped left!", tcDiff);
    // if (touchendX > touchstartX) console.log("swiped right!", tcDiff);
    card.setAttribute("style", `transition: all 400ms ease-in; margin-left: 0`)
  }

  function updateTouchStart (e) {
    touchstartX = e.changedTouches[0].screenX;
    info = e.changedTouches[0]
  }

  function moveCard (e) {
    touchcurr = e.changedTouches[0].screenX
    tcDiff = (touchstartX - touchcurr) * -1;
    card.setAttribute("style", `transition: unset; margin-left: ${tcDiff}px`)
  }

  card.addEventListener("touchstart", updateTouchStart, { passive: true });
  
  card.addEventListener('touchmove', moveCard, { passive: true } )

  card.addEventListener("touchend", (e) => {
    touchendX = e.changedTouches[0].screenX;
    checkDirection();
  });
</script>

<Layout title="abc">
  <main>
    <!-- {Object.keys(abc).map((name) => <Card letter={abc[name][0]} />)} -->
    <Card letter={abc.a[0]} />
  </main>
</Layout>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 0;
    display: flex;
    width: min-content;
    touch-action: none;
  }
</style>
