---
import Layout from '../layouts/Layout.astro'
import Card from '../components/CardABC.svelte'
import data from '../data/abc-emoji-list.json'
import '../styles/fontawesome/fontawesome.css'
import '../styles/fontawesome/solid.css'
const abc = JSON.parse(JSON.stringify(data))
---

<script>
  function setFullscreen() {
    if (!document.fullscreen) {
      document.body.requestFullscreen().catch((error) => {
        console.log.textContent += `${error}\n`
      })
      screen.orientation.lock('any')
      exitBtn.classList.remove('hidden')
      fullBtn.classList.add('hidden')
    }
    document.webkitEnterFullscreen()
  }

  function exitFullscreen() {
    document.exitFullscreen()
    fullBtn.classList.remove('hidden')
    exitBtn.classList.add('hidden')
  }

  const fullBtn = document.querySelector('#full-btn')
  fullBtn.addEventListener('click', () => {
    setFullscreen()
  })

  const exitBtn = document.querySelector('#exit-full-btn')
  exitBtn.addEventListener('click', () => {
    exitFullscreen()
  })

  document.body.addEventListener('keydown', (event) => {
    const key = event.keyCode
    const width = window.innerWidth
    const scroll = document.body.scrollLeft
    const multiplier = Math.round(scroll / width)

    console.log(key)
    if (key == 39 && multiplier < 25) {
      setFullscreen()
      const moveScroll = (multiplier + 1) * width
      document.body.scrollTo(moveScroll, 0)
    } else if (key == 37 && multiplier > 0) {
      setFullscreen()
      const moveScroll = (multiplier - 1) * width
      document.body.scrollTo(moveScroll, 0)
    }
  })
</script>

<Layout title="abc">
  <aside class="fixed flex w-screen items-end justify-end p-4">
    <button id="full-btn" class="text-5lg text-white">
      <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
    </button>
    <button id="exit-full-btn" class="text-5lg hidden text-white">
      <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
    </button>
  </aside>
  <main class="m-auto flex w-min touch-none p-0 transition-all [&>*]:transition-all">
    {Object.keys(abc).map((name, i) => <Card client:visible idx={i} letter={abc[name]} />)}
  </main>
</Layout>
