---
import Layout from '../layouts/Layout.astro'
---

<Layout title="ebishi">
  <main class="flex m-auto p-0 w-min">
    <ul>
      <li>
        <a href="./abc">
          <h1 class="text-4xl text-white my-8 mx-0">🔤&nbsp;ABCs</h1>
        </a>
      </li>
    </ul>
  </main>
</Layout>
