---
import Layout from '../layouts/Layout.astro'
---

<Layout title="ebishi">
  <main class="m-auto flex w-min p-0">
    <nav>
      <ul class="[&>li>a>h1]:mx-0 [&>li>a>h1]:my-8
        [&>li>a>h1]:text-4xl
        [&>li>a>h1]:text-white">
        <li>
          <a href="./abc">
            <h1><b>🔤&nbsp;ABCs</b></h1>
          </a>
        </li>
        <li>
          <a href="./emojis">
            <h1><b>🤣&nbsp;Emojis</b></h1>
          </a>
        </li>
        <li><p>Test</p></li>
      </ul>
    </nav>
  </main>
</Layout>
